Repository arcus-azure/arcus.scripting, pull requests merged in 2023-07, with the labels that each got.

#395 fix: Redundant use of Get-AzLogicAppRunHistory
  src/Arcus.Scripting.LogicApps/Scripts/Disable-AzLogicAppsFromConfig.ps1
  src/Arcus.Scripting.Tests.Unit/Arcus.Scripting.LogicApps.tests.ps1
Labels: enhancement, area:logic-apps

#396 feat: Introduce MaximumFollowNextPageLink option for usage with `Get-AzLogicAppRunHistory`
  docs/preview/03-Features/powershell/azure-logic-apps.md
  src/Arcus.Scripting.LogicApps/Arcus.Scripting.LogicApps.psm1
  src/Arcus.Scripting.LogicApps/Scripts/Cancel-AzLogicAppRuns.ps1
  src/Arcus.Scripting.LogicApps/Scripts/Disable-AzLogicAppsFromConfig.ps1
  src/Arcus.Scripting.LogicApps/Scripts/Resubmit-FailedAzLogicAppRuns.ps1
  src/Arcus.Scripting.Tests.Unit/Arcus.Scripting.LogicApps.tests.ps1
  src/Arcus.Scripting.Tests.Unit/Arcus.Scripting.Tests.Unit.pssproj
  src/Arcus.Scripting.Tests.Unit/Files/LogicApps/deploy-orderControl-maximumFollowNextPageLink.json
  src/Arcus.Scripting.Tests.Unit/Files/LogicApps/deploy-orderControl-noMaximumFollowNextPageLink.json
Labels: enhancement, area:logic-apps

#397 docs: publish v1.1.0 feature docs
  docs/versioned_docs/version-v1.1.0/01-index.md
  docs/versioned_docs/version-v1.1.0/02-Guidelines/Installation.md
  docs/versioned_docs/version-v1.1.0/02-Guidelines/setting-arm-outputs-to-azure-devops-variable-group.md
  docs/versioned_docs/version-v1.1.0/03-Features/powershell/azure-active-directory.md
  docs/versioned_docs/version-v1.1.0/03-Features/powershell/azure-api-management.md
  docs/versioned_docs/version-v1.1.0/03-Features/powershell/azure-app-service.md
  docs/versioned_docs/version-v1.1.0/03-Features/powershell/azure-data-factory.md
  docs/versioned_docs/version-v1.1.0/03-Features/powershell/azure-devops.md
  docs/versioned_docs/version-v1.1.0/03-Features/powershell/azure-integration-account.md
  docs/versioned_docs/version-v1.1.0/03-Features/powershell/azure-key-vault.md
  docs/versioned_docs/version-v1.1.0/03-Features/powershell/azure-logic-apps.md
  docs/versioned_docs/version-v1.1.0/03-Features/powershell/azure-management.md
  docs/versioned_docs/version-v1.1.0/03-Features/powershell/azure-security.md
  docs/versioned_docs/version-v1.1.0/03-Features/powershell/azure-sql.md
  docs/versioned_docs/version-v1.1.0/03-Features/powershell/azure-storage/_category_.yml
  docs/versioned_docs/version-v1.1.0/03-Features/powershell/azure-storage/azure-storage-all.md
  docs/versioned_docs/version-v1.1.0/03-Features/powershell/azure-storage/azure-storage-blob.md
  docs/versioned_docs/version-v1.1.0/03-Features/powershell/azure-storage/azure-storage-fileshare.md
  docs/versioned_docs/version-v1.1.0/03-Features/powershell/azure-storage/azure-storage-table.md
  docs/versioned_docs/version-v1.1.0/03-Features/powershell/templates/_category_.yml
  docs/versioned_docs/version-v1.1.0/03-Features/powershell/templates/arm.md
  docs/versioned_sidebars/version-v1.1.0-sidebars.json
  docs/versions.json
Labels: documentation

#398 fix: Make sure the log.txt file exists during release pipeline
  build/psgallery-release.yml
Labels: management

#399 fix: added logging to see which files we are processing during push to nuget
  build/psgallery-release.yml
Labels: management

#400 fix: enable integration test for devops variable group description
  src/Arcus.Scripting.Tests.Integration/Arcus.Scripting.DevOps.tests.ps1
  src/Arcus.Scripting.Tests.Integration/appsettings.json
Labels: automated-testing, management, area:devops

#406 feat: add retries to integration account actions
  src/Arcus.Scripting.Tests.Integration/Arcus.Scripting.IntegrationAccount.tests.ps1
Labels: automated-testing, management, area:integration-account
